# Bloque complètement l’accès au dossier
# Empêche tout accès HTTP aux fichiers du dossier

<IfModule mod_authz_core.c>
  Require all denied
</IfModule>

<IfModule !mod_authz_core.c>
  Deny from all
</IfModule>