.apropos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apropos_description_bloc {
}
.apropos_image {
    background-color: #105733;
    border-radius: 0 25px 25px 500px;
    border-left: 3px solid black;
    background-image: url('../img/jalqTransp.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}