.accueil {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
    position: relative;
    padding-bottom: 25px;
}
.apropos_content {
    width: 70%;
    /* height: 150px; */
    background-color: #1c2f40;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    border-radius: 5px;
    border: #1c2f40 1px solid;
    margin-bottom: 25px;
}
.apropos_description_bloc {
    padding: 25px;
    background-color: #1c2f40;
    color: white;
}
.apropos_title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
.apropos_art {
    font-size: 20px;
    margin-bottom: 15px;
    color: gray;
}
.apropos_description {
    width: 90%;
    font-size: 16px;
    font-weight: 100;
}
.apropos_image {
    /* background-color: white; */
    background: linear-gradient(to right, white, #1c2f40);
    border-radius: 250px 5px 5px 250px;
    box-shadow: -5px 0px 25px -5px white;
}
.title_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px 0;
    padding: 25px;
    background-color: rgb(245, 244, 244);
    color: #1c2f40;
    border-radius: 5px;
    margin-top: auto;
}
.title {
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 25px;
}
.subtitle {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 25px;
}
.description {
    width: 80%;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}
.articles {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    padding: 0 25px;
}
.article {
    width: 300px;
    height: 120px;
    /* background-color: #1c2f40; */
    /* color: gainsboro; */
    background-color: rgb(245, 244, 244);
    color: #1c2f40;
    /* border: #1c2f40 1px solid; */
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
}
.article_titre {
    text-transform: uppercase;
    font-weight: 600;
}
.article_paragraphe {
    padding: 7px 0;
}
.article_suite {
    text-decoration: none;
    color: cornflowerblue;
}