.article_complet {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_complet_bloc {
    width: 70%;
    height: 80%;
    /* background-color: gainsboro; */
    /* box-shadow: 0 0 10px -4px gainsboro; */
    background-color: rgb(245, 244, 244);
    box-shadow: 0 0 5px 1px gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_complet_image {
    width: 45%;
    height: 80%;
    background-color: white;
    z-index: 1;
}
.Ngazidja {
    background-image: url('../img/ile-ngazidja.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}
.Anjouan {
    background-image: url('../img/ile-anjouan.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}
.Mohéli {
    background-image: url('../img/ile-moheli.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}
.Mayotte {
    background-image: url('../img/ile-mayotte.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
}
.article_complet_description_bloc {
    /* width: 25%; */
    max-width: 45%;
    height: 85%;
    padding: 25px 35px 25px 60px;
    background-color: #1c2f40;
    color: gainsboro;
    font-weight: 200;
    line-height: 23px;
    margin-left: -35px;
    box-shadow: 0 0 10px -4px gainsboro;
}
.article_complet_titre {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}
.article_complet_description {
    margin: 15px 0;
}
.article_complet_retour {
    text-decoration: none;
    color: cornflowerblue;
}
.article_introuvable {
    font-size: 20px;
    padding: 15px;
    color: gainsboro;
    background-color: #1c2f40;
}