.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: gainsboro;
}
.admin-realisations {
    width: 80%;
    display: flex;
    align-items: center;
    color: gainsboro;
    padding: 10px;
    font-weight: 700;
    border-bottom: 2px gainsboro solid;
}
.admin-realisations-id {
    width: 80px;
}
.admin-realisations-title {
    padding-right: 80px;
    margin-right: auto;
}
.admin-realisations-link {
    text-decoration: none;
    color: gainsboro;
}
.admin-realisations-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin-realisation-content {
    width: 100%;
    display: flex;
    align-items: center;
    color: #1c2f40;
    padding: 10px;
    border-bottom: 1px #1c2f40 solid;
}
.admin-realisation-id {
    width: 80px;
}
.admin-realisation-title {
    padding-right: 80px;
    margin-right: auto;
}
.admin-realisation-link {
    text-decoration: none;
    color: #1c2f40;
}
