@import url("./admin-login.css");
@import url("./admin-nav.css");
@import url("./admin-dashboard.css");
@import url("./admin-update.css");
@import url("./admin-add.css");
@import url("./admin-delete.css");

.content {
    width: 60%;
    height: 70vh;
    max-width: 1000px;
    padding: 25px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.admin-title {
    font-weight: 700;
    text-transform: uppercase;
    color: gainsboro;
    margin-bottom: 45px;
}