@import url("./dashboard.css");
@import url("./admin-nav.css");

.content {
    width: 60%;
    height: 70vh;
    max-width: 1000px;
    padding: 25px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    background-color: gainsboro;
    color: brown;
}
.update {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: gainsboro;
    color: brown;
}
.add {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: gainsboro;
    color: brown;
}
.delete {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 70px;
   background-color: gainsboro;
   color: brown;
}